.sidebar {
  position: fixed;
  width: 330px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  padding: 21px;
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-tight);
  color: var(--color-white);
  background-color: var(--color-bg-primary);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0 0 8px rgb(0 0 0 / 0.4);
}

.sidebar .menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar .menu-title {
  font-size: var(--font-size-lg);
}

.task-list-tabs {
  overflow-y: auto;
}
