.tasks-title {
  position: relative;
  display: inline-block;
  margin-bottom: 22px;
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-tight);

  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: #f24e1e;
  }
}

.task-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
