.tab-button {
  display: flex;
  align-items: center;
  column-gap: 16px;
  width: calc(100% - 4px);
  margin: 2px auto 10px;
  padding: 20px;
  border: none;
  background: none;
  outline: none;
  border-radius: 14px;
  color: var(--color-white);
  cursor: pointer;
  transition: background-color 0.3s;

  svg {
    fill: currentColor;
    transform-origin: top center;
  }

  &:not(:disabled):focus {
    outline: 2px solid var(--color-status-in-progress);
  }

  &:not(:disabled):hover {
    background-color: var(--color-bg-secondary);

    svg {
      animation: shake 0.6s ease-in-out;
    }
  }

  &:disabled {
    cursor: auto;
  }
}

.active-tab {
  background-color: var(--color-white);
  color: var(--color-bg-primary);
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
