.task-modal {
  border: none;
  border-radius: 10px;
  padding: 50px 60px;
  width: 700px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  &:open {
    animation: dialog-fade-in 0.3s ease-out;
  }

  &:open::backdrop {
    animation: backdrop-fade-in 0.3s ease-out forwards;
  }
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  font-family: var(--font-family-secondary);

  h2 {
    position: relative;
    font-weight: var(--font-weight-semibold);

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 80%;
      height: 2px;
      background-color: #f24e1e;
    }
  }

  button {
    background: none;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 5px;
    transition: color 0.3s;
    cursor: pointer;

    &:focus-visible {
      outline: 2px solid var(--color-black);
    }

    &:active {
      opacity: 0.7;
    }
  }
}

.task-modal .close-modal {
  text-decoration: underline;
  font-weight: var(--font-weight-semibold);

  &:hover {
    color: var(--color-bg-primary);
  }
}

.form-content {
  margin-bottom: 40px;
  padding: 15px;
  border: 1px solid var(--color-text-light);
}

.form-group {
  margin-bottom: 16px;

  & > label {
    display: block;
    margin-bottom: 10px;
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
  }

  & > input,
  textarea,
  select {
    width: 100%;
    padding: 6px 10px;
    font-size: var(--font-size-md);
    line-height: var(--line-height-normal);
    color: var(--color-black);
    border: 1px solid var(--color-text-light);
    border-radius: 6px;

    &::placeholder {
      color: var(--color-text-light);
    }
  }

  textarea {
    height: 200px;
    resize: none;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.priority-options {
  display: flex;
  column-gap: 50px;

  label {
    display: flex;
    align-items: center;
    color: var(--color-border-secondary);

    &::before {
      content: '';
      width: 7px;
      height: 7px;
      border-radius: 50%;
    }

    &:has(.extreme)::before {
      background-color: var(--color-priority-extreme);
    }

    &:has(.moderate)::before {
      background-color: var(--color-priority-moderate);
    }

    &:has(.low)::before {
      background-color: var(--color-priority-low);
    }
  }

  label::before {
    content: '';
    margin-right: 4px;
    width: 7px;
    height: 7px;
  }

  input {
    margin-left: 10px;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #a1a3ab;

    &:checked {
      background-image: url('../../assets/img/check.svg');
      background-repeat: no-repeat;
    }
  }
}

@keyframes dialog-fade-in {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: rgb(0 0 0 / 0%);
  }

  100% {
    background-color: rgb(0 0 0 / 0.8);
  }
}
